{% for menuItem in menuItems %}

<li class="{{ activeSidebarNode == 'PrivateOffers'?'SidebarActive':''}}">
	<div style="text-align:center;line-height: 13px;padding-top: 5px;">Private Offers</div>
    <div class="SuperToolsSidebarIcon SidebarIcon" onClick="CModule.Load('PrivateOffers', {'Page'='Form'});" title="Private Offers"></div>
</li>
<li style='padding-left:2px; height:2px;'><div class='SidebarSeparator'></div></li>

{% endfor %}