<h1 style='position:absolute; top:0px;'>{{total}} Milestones / Todos</h1>
<br/>

{% for p in projects %}
<h2>{{ p.productNumber }}&nbsp;&nbsp;{{ p.school }}</h2>

{% for m in p.milestones %}

    {% include 'MilestonesImAssignedToRow.twig' %}

{% endfor %}

{% endfor %}