/* 
    Document   : style
    Created on : Jul 31, 2013, 11:31:51 AM
    Author     : jarias
    Description:
        Stylesheet for MilestoneList module.
*/

h1 {
    position: absolute; 
    top: 0px;
}

.MilestoneWrapper {
	position:							relative;
	width:								756px;
	background:							#d1d1d1;
    border-top-left-radius:             5px;
    border-top-right-radius:            5px;
	padding:							2px 2px 1px 2px;
	margin-top:                         3px;
}

.MilestoneContainer {
	background:							#ffffff;
    border-top: 						1px solid #bebebe;
    border-left:						1px solid #bebebe;
    border-right: 						1px solid #bebebe;
	font-family:						Helvetica, Arial, sans-serif;
	font-size:							12px;
	color:								#222222;
}

.MilestoneListSeparator {
    vertical-align: top; 
    padding-top:    7px; 
    padding-bottom: 7px;
}

.MilestoneListSection {
    vertical-align:top; 
    padding: 7px 11px; 
}

.MilestoneListCompleteSection {
    width:          5%;
    vertical-align: middle; 
    padding-left:   5px;
}

.MilestoneListSummary {
    vertical-align: middle; 
    padding:        7px 11px;
    width:          25%;
}

.MilestoneListTitle {
    cursor:         pointer;
    font-weight:    bold;
    font-size:      14px;
}

.MilestoneListSectionTitle {
    color:#d74c4c; 
    font-weight:bold; 
    font-size:14px;
}

.MilestoneListTODOCompletionTitle {
    color:#4f911e; 
    margin-bottom:10px;
}

.MilestoneListComplete {
    float: left;
    padding-right: 4px;
}

.MilestoneListDetails {
    font-family:    Helvetica, Arial, sans-serif;
    font-size:      12px;
    display:        none; 
    padding-right:  50px;
    padding-left:   30px;
    clear:          both; 
    margin:         12px 0px; 
    position:       relative;
}

.MilestoneListToDoListWrapper {
    position:							relative;
	width:								756px;
	background:							#d1d1d1;
	border-bottom-right-radius:         5px;
    border-bottom-left-radius:          5px; 
	padding:							0px 2px 2px 2px;
}

.MilestoneListToDoContainer {
    background:							#ffffff;
	border-bottom:						1px solid #bebebe;
    border-left:						1px solid #bebebe;
    border-right: 						1px solid #bebebe;
	font-family:						Helvetica, Arial, sans-serif;
	font-size:							12px;
	color:								#222222;
}

.MilestoneListToDoLabel {
    padding-left:   11px; 
    font-weight:    bold; 
    font-size:      12px; 
    margin-bottom:  12px; 
    cursor:         pointer;
}

.MilestoneListToDoDetails {
    font-family:    Helvetica, Arial, sans-serif;
    font-size:      12px;
    display:        none; 
    padding-left:   58px; 
    clear:          both; 
    margin:         12px 0px; 
    position:       relative; 
}

