/* 
    Document   : style
    Created on : Aug 9, 2013, 1:50:15 PM
    Author     : jarias
    Description: Style sheet for ProjectCreatorHome pages and templates.
*/

.ShopOnlineButton {
    margin-top:         5px;
    margin-bottom:      20px;
}

.ShopOnlineUploadResultsContainer {
    font-family:        Helvetica;
    font-size:          12px;
    text-align:         left;
    padding:            25px;
}

th {
    text-align:         center;
    background-color:   #d1d1d1;
}

.UploadResultDataTitle {
    font-weight:        bold;
}

.UploadResultsBottomTD {
    border-bottom:  1px solid #d1d1d1;    
    text-align:         center;
}

.ShopOnlineSuccess {
    color:              #48B01C;
    font-weight:        bold;
}

.ShopOnlineResultSubtitle {
    font-size:          18px;
}

.ShopOnlineErrorTable {
    border-spacing:     0px;
	width: 100%;
	border: 2px solid rgb(99, 92, 92);
}

.ShopOnlineErrorRowOdd {
    background-color:   #ffcccc;
    border-spacing:     0px;
    text-align:         left;
}

.ShopOnlineErrorRowEven {
    background-color:   #ff9999;
    /*border-bottom:      1px solid #d1d1d1;*/
}
.ShopOnlineErrorTable th
{
	border-bottom: 1px solid white;
	padding-top: 4px;
	padding-bottom: 4px;
}
.ShopOnlineErrorRowOdd td, .ShopOnlineErrorRowEven td
{
	border-bottom: 1px solid white;
}

.ShopOnlineErrorRowOdd p, .ShopOnlineErrorRowEven p
{
	padding-left: 5px;
}

label.error {
	color: red;
	font-size: 12px;
	font-family: myriad-pro;	
}

.CForm_Textbox {
	width: 300px;
	padding-left: 5px;
}
.CForm_Table
{
	width: 518px;
}
.TableFormGroup {	
	border: 2px solid #bebebe;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ProjectCreatorUploadButton {
	width: 220px;
}

.CForm_Upload_Icon_Done {
	margin-top: 3px;
}

h2 {
	margin-bottom: 14px;
}

tr.Hidden {
    display: none;
}

div.FormComplete h2 {
    padding-top: 20px;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
    text-align: left;
    font-weight: normal;
    padding-left: 10px;
}

div.FormComplete h3 {
    background: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #4B83C8;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

div.FormComplete ul {
    text-align: left;
    padding-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
    font-size: 15px;
}

div.FormComplete li {
    padding-bottom: 10px;
}

.StoreFrontInfoTable {	
	border: 1px solid #bebebe;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.StoreFrontInfoTable input {
    width: 240px;
}

span#ISBNToStoreFrontAddNew.ISBNToStoreFrontBtn, span#ISBNToStoreFrontRemoveLast.ISBNToStoreFrontBtn {
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}

.StoreFrontInfoTable td {
    color: #6D6D6D;
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
}