<h2>Product page setup for Private Offers at a Connect site</h2>

<table width="100%" cellspacing="0" cellpadding="0">    
    <tr>
        <td width="100px" valign="top">            							
            <div class="FormComplete TableFormGroup" align="center">
                <h2>The new project has been created!</h2>
                <h3>Remember:</h3>
                <ul>
                    <li>Please submit an NOC if you need to change the discount class or price.</li>
                    <li>Is your ISBN IP-ACTIVE? If not, reach out to James Doepke. Your ISBN cannot be sold until it’s IP-Active</li>
                </ul>
            </div>            
        </td>
    </tr>
    <tr>
        <td align="right">
            <div id="UploadButton" class="Button ShopOnlineButton" value="back" onClick="MProjectCreator.backHome();">back</div>
        </td>
    </tr>    
</table>