<h2>Product page setup for shop.mcgraw-hill.com</h2>

<table width="100%" cellspacing="0" cellpadding="0">    
    <tr>
        <td width="100px" valign="top">            							
            <div class="FormComplete TableFormGroup" align="center">
                <h2>The new project has been created!</h2>
                <h3>Remember:</h3>
                <ul>                    
                    <li>Please submit an NOC if you need to change the discount class or price.</li>
                    <li>Have you provided the location for us to download the custom cover?</li>
                    <li>If you are trying to create a Private Offer at a Connect site, this would include duration or price changes to the eCommerce purchase at a Connect site, please use the Online Private Offer form and James Doepke will set up the offer. </li>
                    <li>Non-warehoused Create ISBNs cannot be setup here. They are setup on the Create eBook store, by the Create team. </li>
                </ul>
            </div>            
        </td>
    </tr>
    <tr>
        <td align="right">
            <div id="UploadButton" class="Button ShopOnlineButton" value="back" onClick="MProjectCreator.backHome();">back</div>
        </td>
    </tr>    
</table>